extends layout

block content
    br
    .container.main-content
        h1.title Login
        form(action="/login" method="post")
            input(type="text" name="username" placeholder="username")
            input(type="password", name="password" placeholder="password") 
            input(type="submit" value="Send")