nav.navbar.is-primary
    .container
        .navbar-brand
            a.navbar-item
                img(src='https://storage.googleapis.com/cloudprod-apiai/002889f7-2c67-4319-9ca7-59624035dcce_x.png')
        .navbar-menu
            .navbar-end
                .navbar-item
                    span.icon.is-large                        
                        i.fas.fa-shopping-cart.fa-2x
                    h1(style={color: 'white'}).title= `USD`
                    